.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;  
  min-height: 50%;
  padding-bottom: 10px;
}

#add-item-sidebar {
  display: inline-block;
  width: 30%;
  margin-right: 5em;
}
.add-item {
  width: 70%;
  margin-left: 1em;
}

.user-message {
  justify-content: center;
  align-items: center;
  font-size: calc(12px + 2vmin);  
  height: 2em;
}
#items {
  display: inline-block;
  max-width: 70%;
}